Welcome to the Community Playdates Main Page

<!-- <div class="create-playdate"> -->
<!--   <%= link_to "Create A New Playdate", new_event_path %> -->
<!-- </div> -->
<!-- <div class="view-all-playdate"> -->
<!--   <%= link_to "View All Playdates", events_path %> -->
<!-- </div> -->


