<header id="content-header">
  <h2>Make a New Playdate</h2>
</header>

<%= render 'form' %>
    
    <!-- <div id="type-selector" class="controls">
      <input type="radio" name="type" id="changetype-all" checked="checked">
      <label for="changetype-all">All</label>

      <input type="radio" name="type" id="changetype-establishment">
      <label for="changetype-establishment">Establishments</label>

      <input type="radio" name="type" id="changetype-geocode">
      <label for="changetype-geocode">Geocodes</label>
    </div> -->
  <div class='map-search'>
    <h3>Search for your venue</h3>
    <input id="pac-input" class="controls" type="text"
          placeholder="Enter a location">
    <div id="map-canvas"></div>
  </div>

<%= javascript_include_tag "address-search" %>
