
<div class='friend-portal col-lg-12'>
  <div class='community friends'>
    <% unless @friends.empty? %>
      <h2>Friends</h2>
      <%= render partial: "users/user", collection: @friends*3 %>
    <% end %>
  </div>

  <br/>
  <legend></legend>
  <br/>

  <div class='community friends-of-friends'>
    <% unless @friends_of_friends.empty? %>
      <h2>Friends of Friends</h2>
      <%= render partial: "users/user", collection: @friends_of_friends %>
    <% end %>
  </div>

  <br/>
  <legend></legend>
  <br/>

  <div class='community public'>
    <% unless @general_public.empty? %>
      <h2>Others in the Community</h2>
      <%= render partial: "users/user", collection: @general_public %>
    <% end %>
  </div>
</div>
