.cbp-vm-icon.cbp-vm-add.join-playdate-button {
  margin-top: -45px;
  border-radius: 8px;
  display: inline-block;
  float: right;
}

.playdate-form {
  background-color: white;
  border: 3px solid #47a3da;
  width: 45%;
  border-radius: 15px;
  margin: 3% 1% 2% 3%;
}

.playdate-map {
  background-color: white;
  border: 3px solid #47a3da;
  width: 45%;
  border-radius: 15px;
  margin: 3% 1% 2% 3%;
}

