<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Community Playdates</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"  %></li>
    </ul>
  </div>
</div>
<br />

<div class="site_description text-center">
  <%= @cookies %>
  Come with us on a journey of sight and sound to a place where your lonely heart is filled with the joy and laughter of children. Sign in with facebook (to ensure only verified users) and begin your journey.
</div>
