<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Community Playdates</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"  %></li>
    </ul>
  </div>
</div>
<br />

  <%= @cookies %>
<div class="site_description text-center">
  Come with us on a journey of sight and sound to a place where your lonely heart is filled with the joy and laughter of children. Sign in with facebook (to ensure only verified users) and begin your journey.
</div>

<br>

<div id='learn-more'>
  <a href='#second-page' >Learn More<br><span class="glyphicon glyphicon-chevron-down"></span></a>
</div>

<svg id="bigHalfCircle" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
  <path d="M0 100 C40 0 60 0 100 100 Z"></path>
</svg>

<a name="second-page"></a>
<section class="col-2 color ss-style-curvedown">
  <span id='testimonial'><p>Testimonials</p></span>
  <div class="wrapper">
    <ul class="stage">

      <div class="column">
        <div class="scene">
          <div class="movie">
            <div class="poster"></div>
            <div class="info">
              <header>
                <h1>It's a Wonderful Life</h1>
                <span class="year">1946</span>
                <span class="rating">PG</span>
                <span class="duration">130 minutes</span>
              </header>
              <p>
                In Bedford Falls, New York on Christmas Eve, George Bailey is deeply troubled. Prayers for his well-being from friends and family reach Heaven. 
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="scene">
          <div class="movie">
            <div class="poster"></div>
            <div class="info">
              <header>
                <h1>It's a Wonderful Life</h1>
                <span class="year">1946</span>
                <span class="rating">PG</span>
                <span class="duration">130 minutes</span>
              </header>
              <p>
                In Bedford Falls, New York on Christmas Eve, George Bailey is deeply troubled. Prayers for his well-being from friends and family reach Heaven. 
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <span class="scene">
          <div class="movie">
            <div class="poster"></div>
            <div class="info">
              <header>
                <h1>It's a Wonderful Life</h1>
                <span class="year">1946</span>
                <span class="rating">PG</span>
                <span class="duration">130 minutes</span>
              </header>
              <p>
                In Bedford Falls, New York on Christmas Eve, George Bailey is deeply troubled. Prayers for his well-being from friends and family reach Heaven. 
              </p>
            </div>
          </div>
        </span>
      </div>

    </ul> 
  </div>
</section>
